.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 50px;
  }
  
  .baloon {
    position: absolute;
    left: 345px;
    top: 100px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 363px;
    top: 139px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 626px;
    top: 240px;
  }