ol {
  background-color: yellow;
}
a {
  text-decoration: none;
}
 ol li:nth-of-type(1){
  color: green;
}
 ol li:nth-of-type(3){
  color: green;
}
 ol li:nth-of-type(5){
  color: green;
}
.cor-titulo { 
  background-color: red;
}
h1.cor-titulo {
  font-size: 40px;
  border: 1px solid black;
}
li {
  font-size: 20px;
}
li em {
  font-weight: bold;
}
.lingua-programação li:nth-of-type(1) {
  color: blue;
}

.lingua-programação li:nth-of-type(2) {
  color: blue;
}

.lingua-programação li:nth-of-type(3) {
  color: blue;
}
.cor-java {
  background-color: pink;
}
.parceiros-dev li:hover {
  font-weight: bold;
}
.parceiros-dev li:hover:nth-last-of-type(5) {
  background-color: orange;
}
.parceiros-dev li:hover:nth-last-of-type(4) {
  background-color: green;
}
.parceiros-dev li:hover:nth-last-of-type(3) {
  background-color: black;
}
.parceiros-dev li:hover:nth-last-of-type(2) {
  background-color: yellow;
}
.parceiros-dev li:hover:nth-last-of-type(1) {
  background-color: rgb(19, 221, 19);
}